html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

.main {
  flex: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  color: #61b37b;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;

  background-color: #ffffff;
}


.navaccueil {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.navaccueil i {
  padding: 10px;
}

.navprofil {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.userHeaderLeft {
  display: flex;
  align-items: center;
  margin-right: 600px;
  margin-left: 10px;
}

.userHeaderLeft a {
  margin-left: 10px;
}

.userHeaderRight {
  display: flex;
  align-items: center;
}

.userHeaderRight i {
  margin-left: 10px;
}

.userHeaderRight span {
  margin: 10px;
}

.main-nav-item {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #61b37b;

}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {

  width: 250px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.header {
  color: #61b37b;
  margin-bottom: 2rem;
}